<%#= @experience = Experience.find(params[:experience_id]) %>

<%#=  current_user.id %>
<div class="booking-confirmation-page">
  <div class="wrapper-booking">
    <div class"nav-icon">
      <!-- <span class="fa fa-chevron-left" id="chevron-left" aria-hidden="true"></span> -->
     <!--  <span class="fas fa-times" id="close-icon" aria-hidden="true"></span> -->
      </div> <!-- end of nav icon -->
    <div class="banner">
      <h2>Booking Confirmation!</h2>
      <h1>Nice <%=  current_user.name %>!</h1>
      <h4>You will try something new!</h4>
      <br>
      <p>You have booked the experience:</p> <h5><%= @experience.title %></h5>
      <div class="supplier">
          <%= cl_image_tag (@experience.supplier.picture_avatar), class: "img-circle"%>
      </div>
    </div> <!-- end of banner -->
    <div class="booking-area">
      <h1>Hosted by <%= @experience.supplier.name %></h1>
      <!-- <h1>R$<%= @experience.price.to_i %></h1> -->
      <div class="booking-action">
        <button id="minus">-</button>
          <span id="amount">R$<%= @experience.price.to_i %></span>
        <button id="minus">-</button>
       <!--  <button id="plus">+</button> -->
      </div>
      <h4>Date & Time</h4>
      <div id="dateAndTime"><%= @experience.start.strftime("%m-%d") %></div>
    </div> <!-- end of booking area -->
    <div class="confirm">
      <%= link_to "Please Confirm", experience_bookings_path(experience: @experience, user: @user), id:"confirm-btn", method: :post %>
      <!--<button id="confirm-btn">ADD TO CALENDAR</button>
      <button id="confirm-btn">CONTACT HOSTER</button>-->
    </div>
  </div> <!-- end of wrapper -->
</div>
