<%# @bookings.each do |booking| %>
<!--   <p> <%#= booking.experience.title %> </p> -->
<%# end %>

<%#= cl_image_tag (@experience.supplier.picture_banner) %>

<div class="user-profile-page">

  <header>
    <div class="container">
      <div class="profile">
        <div class="profile-image">
        <!--   <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt=""> -->
          <%= cl_image_tag (current_user.picture_avatar), class: "avatar" %>
        </div>

        <div class="profile-user-settings">
          <h1 class="profile-user-name"><%= current_user.name %></h1>
          <button class="btn profile-edit-btn">Edit Profile</button>
          <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
        </div>

        <div class="profile-stats">
          <ul>
            <li><span class="profile-stat-count"><%= @bookings.count %></span> Trybes / Bookings</li>
            <!--
            <li><span class="profile-stat-count">188</span> followers</li>
            <li><span class="profile-stat-count">206</span> following</li>
          </ul>-->
        </div>
        <!--
        <div class="profile-bio">
          <p><span class="profile-real-name"><%= current_user.name %></span> Rule number one: BE COOL! Otavio is a cool dude..... 📷✈️🏕️</p>
        </div>
      </div>-->
      <!-- End of profile section -->
    </div>
    <!-- End of container -->
  </header>

  <main>
    <div class="container">
      <div class="gallery">

       <!--  <div class="gallery-item" tabindex="0">
          <%# @bookings.each do |booking| %>
              INSERIR BANNERS DAS TRIBOS AS QUAIS ELE FEZ BOOKING E LINKAR COM A PGINA DO EXPERIENCE/SHOW

            </div>
          <%# end %>
        </div> -->
        <% @bookings.each do |booking| %>
<!--   <p> <%#= booking.experience.title %> </p> -->
<%# end %>
            <div class="gallery-item" tabindex="0">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 tablet">
                <%= link_to experience_path(booking.experience)  do %>
                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes"><span class="visually-hidden">Experience:</span><i class="fas fa-flag" aria-hidden="true"></i> <%= booking.experience.title %></li>
                    </ul>
                  </div>
                  <div class="overlay-gallery"></div>
                  <%= cl_image_tag(booking.experience.supplier.picture_banner) %>
                <% end %>
              </div>
            </div>





      </div>
      <!-- End of gallery -->
      <% end %>

      <!-- <div class="loader"></div>-->
    </div>
    <!-- End of container -->
  </main>

</div>
