<!-- <div class="col-sm-10 col-sm-offset-1"> -->
<% @experiences.each do |experience| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 tablet">
    <div class="card-container">
      <div class="card">
          <div class="front">
              <div class="cover">
                  <%= cl_image_tag (experience.supplier.picture_banner) %>
              </div>
              <div class="header">
                  <h4 class="text-center title-ellipsis" style="-webkit-box-orient: vertical;"><%= experience.title %></h4>
                  <%# TODO: User different ellipsis method. Not a good implementation for ellipsts %>
                  <p class="short-description experience-paragraph-ellipsis" style="-webkit-box-orient: vertical";<%= experience.description %></p>
                      <!-- <p class="short-description multiline-ellipses"><%= experience.description.truncate(220) %></p> -->
                 <div class="line-header"></div>
              </div>
              <div class="content">
                  <div class="main">
                      <div class="stats-container">
                          <div class="stats">
                              <h4>R$ <%= experience.price.to_i %></h4>
                              <p>
                                  value
                              </p>
                          </div>
                          <div class="stats">
                              <h4><%= experience.vacancy %></h4>
                              <p>
                                  vacancy
                              </p>
                          </div>
                          <div class="stats">
                              <h4><%= experience.start.strftime("%m-%d") %></h4>
                              <p>
                                  from
                              </p>
                          </div>
                          <div class="stats">
                              <h4><%= experience.finish.strftime("%m-%d") %></h4>
                              <p>
                                  util
                              </p>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="footer-card">
                <button class="btn btn-simple" onclick="rotateCard(this)">
                   flip <i class="fas fa-share"></i>
                </button>
              </div>
          </div> <!-- end front panel -->
          <div class="back">
              <div class="user">
                  <%= cl_image_tag (experience.supplier.picture_avatar), class: "img-circle"%>
                  <%#= image_tag experience.photo.url(:card_banner), class: "img-circle"%>
              </div>
              <div class="content">
                  <div class="main">
                      <h3 class="name"><%= experience.supplier.name %> </h3>
                      <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                      <p class="short-title short-title-ellipsis" style="-webkit-box-orient: vertical;"><%= experience.address %> </p>
                      <p class="text-center short-description-ellipsis" style="-webkit-box-orient: vertical;"><%= experience.short_description %></p>
                      <!-- <a  href="#">I want this experience!</a> -->

                       <%= link_to "I want this experience!", experience_path(experience), class: 'btn', id: 'btn-experience' %>
                      <h4 class="text-center heads-up">Heads Up!</h4>
                      <p class="heads-up-description heads-up-ellipsis" style="-webkit-box-orient: vertical;"><%= experience.short_title %></p>
                  </div>
                  <div class="footer-card-line">
                      <i class="fa fa-mail-forward"></i> Contacts
                      <div class="social-links text-center">
                        <a href="tel:<%= experience.supplier.phone %>" class="phone"><i class="fas fa-phone"> call</i></a>
                        <a href="mail_to:<%= experience.supplier.email %>" class="e-mail"><i class="fas fa-envelope">  e-mail</i></a>
                        <a href="<%= experience.supplier.facebook %>" class="facebook"><i class="fab fa-facebook-f"> facebook</i></a>
                        <a href="<%= experience.supplier.web_address %>" class="website"><i class="fas fa-globe"> website</i></a>
                      </div>
                      <!-- <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                          <i class="fa fa-reply"></i> Back
                      </button> -->
                  </div>
              </div>
          </div> <!-- end back panel -->
      </div> <!-- end card -->
    </div> <!-- end card-container -->
  </div>  <!-- end col sm 3 -->
<!-- </div> -->
<% end %>

<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });


    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }

    if ($(window).width() <= 991.98) {
      $('.card-container').addClass('manual-flip');
    }
    else {
      $('.card-container').removeClass('manual-flip');
    }
</script>

