<div class="navbar-trybes navbar-fixed-top <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-trybes-brand" do %>
    <%= image_tag "Trybes_dark_yellow.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-trybes-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%#= link_to "", "#", class: "navbar-trybes-item navbar-trybes-link" %>
      <%#= link_to "", "#", class: "navbar-trybes-item navbar-trybes-link" %>
      <%#= link_to "Support", "#", class: "navbar-trybes-item navbar-trybes-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-trybes-item">
        <div class="dropdown">
          <% if user_signed_in? %>
            <%= cl_image_tag (current_user.picture_avatar), class: "avatar dropdown-toggle", id: "navbar-trybes-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-trybes-dropdown-menu">
            <li>
              <%= link_to "Profile", user_bookings_path, class:"fa fa-user" %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-trybes-item navbar-trybes-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-trybes-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-trybes-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</div>

