<% content_for(:navbar_class, "navbar-transparent") %>


<div class="banner-home">
  <div class="video-container hidden-xs">
    <div class="overlay"></div>
    <%= cl_video_tag("trybes_movie", class:"filtered", width: '100%', autoplay: true, loop: true, poster: asset_url('home_banner.jpg'), preload: :auto, muted: :muted) %>
  </div>
  <div class="banner-content text-center">
    <h1>When was the last time you did something for the first time?</h1>
    <p>Find your experiences! Match your groups!</p>
    <%= render 'shared/search' %>
  </div>
</div>


<div class="intro-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href="/" style="background-image: asset-url()" >
          <%= image_tag ('ballet_home.jpg') %>
        </a>
      </div>
      <div class="col-sm-6 text-center">
        <h2>What are your tribes?</h2>
        <p class="lead">We all need tribes to recognize ourselves as individuals, to belong to something, to feel embraced, to scape our realitites and daily routines, to feel that our life has a purpose, to enjoy our life. So what do you need to live amazing experiences? What are you waiting for? </p>

        <p>For each tribe you can find not only an amazing new experience but also a bond with people linked by the same desire, the same affinity. And there are hundresds of tribes waiting for you. You do not need to stick to ony one. You can like to cook, to travel, hike, and take photos, you can be a runner, a scuba diver...there are endless experiences close to you waiting for your first step! And be happy is a matter of choice! </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded" id="fixed-transition-top">

</div>

<div class="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>practicality.</h2>
        <p>Turkey pork chop short ribs ball tip chicken shoulder strip steak turducken burgdoggen kevin swine. Filet mignon buffalo sirloin ham cupim, landjaeger fatback. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/" class="image-responsive">
          <%= image_tag ('chez_why.jpg') %>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>well-being.</h2>
        <p>Tongue hamburger sirloin, andouille ball tip kevin bacon sausage alcatra bresaola biltong. Picanha chicken flank brisket sirloin doner salami. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <!--  <img src="image/doghouse.png" class="image-responsive"> -->
        <a href="/" class="image-responsive">
          <%= image_tag ('skate_why.jpg') %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded" id="fixed-transition-middle">

</div>

<div class="supplier-wrapper">
  <div class="banner-supplier">
    <div class="banner-content text-center">
      <div class="box-content">
        <h1>Do you have experiences to offer?</h1>
        <h2>People look for experiences not only products!</h2>
        <p>Trybes is the only place where you can speak directly with your specific audience. Trybes was developed to support small/mid niche service businesses and product brands, to easly and quickly promote their experiences and get  interested groups of customers.</p>
        <a class="btn" id="btn-supplier" href="#">Promote your experiences</a>
      </div>
    </div>
  </div>
</div>

<div id="fixed-transition-end">
  <div class="container text-center padded">
    <h1></h1>
    <br>
    <br>
    <br>
    <%= image_tag ('Trybes_light_yellow.png'), id: "logo" %>
  </div>
</div>
