<% content_for(:navbar_class, "navbar-transparent") %>


<div class="banner-home">
  <div class="video-container hidden-xs">
    <div class="overlay"></div>
    <%= cl_video_tag("trybes_movie", class:"filtered", width: '100%', autoplay: true, loop: true, poster: asset_url('home_banner_1920.jpg'), preload: :auto, muted: :muted) %>
  </div>
  <div class="banner-content text-center">
    <h1>It's time to try something for the first time!</h1>
    <p>Book an experience! Find your trybe!</p>
    <%= render 'shared/search' %>
  </div>
</div>


<div class="intro-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <a href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("ballet_home_1280") %>
        </a>
        <h2>Don't you need to try something new?</h2>
        <p class="lead">We know how our daily routines can impact our life. However this shouldn't be a blocker for us to live new amazing experiences. We need to tap into the child that still resides in all of us. Always testing limits. Always discovering new experiences along the way. Constantly rediscovering oneself.</p>
      </div>
       <div class="col-sm-6 text-center">
        <a class="image-display" href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("cavalgada_1280") %>
        </a>
        <div class="video-display">
          <%= cl_video_tag("trybes_movie", class:"filtered", width: '100%', autoplay: true, loop: true, preload: :auto, muted: :muted) %>
        </div>
        <h2>How to take the first step?</h2>
        <p class="lead">With Trybes you can find yourself in a new group and bond with people linked by the same desires. We can only show you the door. You are the one that has to walk through it. Just follow the steps.</p>
      </div>
    </div>
  </div>
</div>
<!--
      (i) Less risks
      (ii) Less investments
      (iii) Higher profits
      (iv) Brand Loyalty
      (v) Goodwill / Reputation
      (vi) Enhanced Customer Relationships
      (vii) Increased Visibility
      (viii) Word of Mouth Growth
      (ix) Less competition
      (x) Precise Metrics and Market  Statistics -->

<div class="four-steps">
  <div class="step-form">
    <div class="steps">
      <section class="step huge">
        <span> Search.
          <p>Search a new experience among different trybe categories.</p>
        </span>

      </section>
      <section class="step">
        <span>Find
          <p>Find the best offers for new experiences, with nice group prices, wherever you are, and whenever you want.</p>
        </span>
      </section>
      <section class="step">
        <span>Match
          <p>Find a nice group of people and share the same amazing experiences.</p>
        </span>
      </section>
      <section class="step">
        <span>Book
          <p>Book the experience and make sure you won't lose that opportunity, and get in touch with your new trybe and the hoster.</p>
        </span>
      </section>
      <section class="step">
        <span>Live!
          <p>When was the last time you did something for the first time? How about right now!</p>
        </span>
    </div>
  </div>
</div>


<div class="container text-center padded" id="fixed-transition-top", style="background-image: url( <%= cl_image_path('transition_start_1280.jpg') %>)">

</div>

<div class="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>An answer.</h2>
        <p>With Trybes people can find in one single place full-pack experiences related to their own personal preferences. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/" class="image-responsive">
          <%= cl_image_tag ("chez_why_1280") %>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>A connection.</h2>
        <p>With Trybes niche businesses will quickly get to the customers looking for new experiences.   </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <!--  <img src="image/doghouse.png" class="image-responsive"> -->
        <a href="/" class="image-responsive">
          <%= cl_image_tag ("skate_why_1280") %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded" id="fixed-transition-middle", style="background-image: url(<%= cl_image_path('transition_mid_1280.jpg') %>)">

</div>


<div class="hoster-wrapper">
  <div id="carousel-example-generic" class="carousel carousel-fade  slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="overlay-promoter"></div>
        <a class="image-display" href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("banner_promoter_1280") %>
        </a>
        <div class="carousel-caption">
          <h3>Promote incredible experiences!</h3>
          <p>Trybes was developed to help small/mid niche service businesses and product brands, to effectively promote their experiences.</p>
          <a href="#" class="btn btn-lg btn-transparent">Promote your Experience!</a>
        </div>
      </div>
      <div class="item">
        <div class="overlay-promoter"></div>
        <a class="image-display" href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("banner_promoter_2_1280") %>
        </a>
        <div class="carousel-caption">
          <h3>Find your customers!</h3>
          <p>Trybes is the best place to directly speak with your specific audience. </p>
          <a href="#" class="btn btn-lg btn-transparent">Promote your Experience!</a>
        </div>
      </div>
      <div class="item">
        <div class="overlay-promoter"></div>
        <a class="image-display" href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("supplier_banner_1280") %>
        </a>
        <div class="carousel-caption">
          <h3>Help your customers find you!</h3>
          <p>People are looking for the experience you offer, and now they know where to find you.</p>
          <a href="#" class="btn btn-lg btn-transparent">Promote your Experience!</a>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="fixed-transition-end", style="background-image: url(<%= cl_image_path('transition_end_1280.jpg') %>)">
  <div class="container text-center padded">
    <h1></h1>
    <br>
    <br>
    <br>
    <%= image_tag ('Trybes_light_yellow.png'), id: "logo" %>
  </div>
</div>
