<% content_for(:navbar_class, "navbar-transparent") %>


<div class="banner-home">
  <div class="video-container hidden-xs">
    <div class="overlay"></div>
    <%= cl_video_tag("trybes_movie", class:"filtered", width: '100%', autoplay: true, loop: true, poster: asset_url('home_banner_1920.jpg'), preload: :auto, muted: :muted) %>
  </div>
  <div class="banner-content text-center">
    <h1>When was the last time you did something for the first time?</h1>
    <p>Find your experiences! Match your Trybes!</p>
    <%= render 'shared/search' %>
  </div>
</div>


<div class="intro-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <a href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("ballet_home_1280") %>
        </a>
        <h2>What do you need to try something new?</h2>
        <p class="lead">We know how our daily routines can impact our life. However this shouldn't be a blocker for us to live amazing experiences. We need to tap into the child that still resides in all of us. Always testing limits. Always discovering new experiences on our path. Always rediscovering oneself. Living and feeling life on the fullest.</p>
      </div>
       <div class="col-sm-6 text-center">
        <a class="image-display" href="/" style="background-image: asset-url()" >
          <%= cl_image_tag ("cavalgada_1280") %>
        </a>
        <div class="video-display">
          <%= cl_video_tag("trybes_movie", class:"filtered", width: '100%', autoplay: true, loop: true, preload: :auto, muted: :muted) %>
        </div>
        <h2>how to take the first step?</h2>
        <p class="lead">At Trybes you can find amazing new experiences close to you and inline with your personal interests. With Trybes you can easliy find a way out of your routine. You can find yourself in a new group and bond with people linked by the same desires. We can only show you the door. You are the one that has to walk through it.</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded" id="fixed-transition-top", style="background-image: url( <%= cl_image_path('transition_start_1280.jpg') %>)">

</div>

<div class="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>An answer.</h2>
        <p>With Trybes people can now find in one single place, full-pack experiences related to their social groups. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/" class="image-responsive">
          <%= cl_image_tag ("chez_why_1280") %>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h2>A connection.</h2>
        <p>With Trybes niche businesses will quickly get to the customers looking for new experiences.   </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <!--  <img src="image/doghouse.png" class="image-responsive"> -->
        <a href="/" class="image-responsive">
          <%= cl_image_tag ("skate_why_1280") %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padded" id="fixed-transition-middle", style="background-image: url(<%= cl_image_path('transition_mid_1280.jpg') %>)">

</div>

<div class="supplier-wrapper">
  <div class="banner-supplier">
    <div class="banner-content text-center">
      <div class="box-content">
        <h1>Promote incredible experiences!</h1>
        <h2>People are looking for you, and now they know where.</h2>
        <p>Trybes is the best place to directly speak with your specific audience. Trybes was developed to support small/mid niche service businesses and product brands, to effectively and easily promote their experiences to your customers.</p>
        <a class="btn" id="btn-supplier" href="#">Become an experience supplier!</a>
      </div>
    </div>
  </div>
</div>

<div id="fixed-transition-end", style="background-image: url(<%= cl_image_path('transition_end_1280.jpg') %>)">
  <div class="container text-center padded">
    <h1></h1>
    <br>
    <br>
    <br>
    <%= image_tag ('Trybes_light_yellow.png'), id: "logo" %>
  </div>
</div>
