<% content_for(:navbar_class, "navbar-transparent") %>

<div class="filter-experiences">
  <br>
  <br>
  <br>
  <div class="banner-form input-xs ">
    <%= render 'shared/search' %>
  </div>

 <%# render "/shared/card" %>



  <div class="flex-index">
    <div class='cards-container'>
      <div class="row">
        <%# @experiences.each do |experience| %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
            <%= render "/shared/card" %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
