<% content_for(:navbar_class, "navbar-transparent") %>

<div class="filter-experiences">
  <br>
  <br>
  <br>
  <div class="banner-form input-xs ">
    <%= render 'shared/search' %>
  </div>

  <div class="flex-index">
    <div class='cards-container'>
      <div class="row">
        <% @experiences.each do |experience| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
           <!--  <div style="height: 600px, width: 400px"></div> -->
            <%= render "/shared/card" %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
           <!--  <div style="height: 600px, width: 400px"></div> -->
            <%= render "/shared/card" %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
           <!--  <div style="height: 600px, width: 400px"></div> -->
            <%= render "/shared/card" %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
           <!--  <div style="height: 600px, width: 400px"></div> -->
            <%= render "/shared/card" %>
          </div>

        <% end %>
      </div>
    </div>
    <div id="map"></div>
  </div>
 </div>



