<!-- <div class="navbar-match navbar-fixed-top navbar-match-opaque">
  <div class="navbar-match-item navbar-match-link">
    <a href="#"><i class="fas fa-angle-left"> Pick Another Trybe</i></a>
  </div>
  <div class="navbar-match-item navbar-match-link">
    <a href="#">Tell Your Friends <i class="far fa-share-square"></i></a>
  </div>
</div> -->


<!-- Tryning to Apply Parallax effect -->
<!-- <div class="match-page" data-0='opacity: 1; transform: translateY(0px);' data-400='opacity: 1; transform: translateY(200px);' data-800='opacity: 0; transform: translateY(400px);'> -->

<div class="banner-background-container">
  <div class="overlay-banner-match"></div>
  <a class="image-display" href="/" style="background-image: asset-url()" >
    <%= cl_image_tag ("Match_banner_cut.jpg") %>
  </a>
</div>
<div class="match-page">
  <div class="banner-match", style="background-image: url( <%= cl_image_path('Match_banner_1280.jpg') %> )">
    <div class="match-container match-container-content">
      <h2 class="match-title">This is your trybe!</h2>
      <div class="match-content">
          <h3 class="match-heading">You are not alone in this experience!</h3>
          <p class="match-tribe">Your experience choice matches with others people. <br> Here are your trybe members:</p>
          <div class="user">
            <div class="row">
              <div class="row__inner">

                <!-- Left Arrow -->
                <div class="tile fafa">
                  <i class="fas fa-caret-left"></i>
                </div>

                <!-- Input from User Database -->
                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('renato_avatar.jpeg'), class: "tile__img img-circle"%>
                  </div>
                  <div class="message-user-link">
                    <a class="btn btn-primary btn-message" href="#"><i class="fas fa-comment"> Message </i></a>
                  </div>
                </div>

                <!-- Invite Friend -->
                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('users_vacancy.png'), class: "tile__img img-circle"%>
                  </div>
                  <div class="message-user-link">
                    <a class="btn btn-primary btn-message" href="#"><i class="far fa-share-square"> Invite a Friend</i></a>
                  </div>
                </div>

                <!-- Right Arrow -->
                <div class="tile fafa">
                  <i class="fas fa-caret-right"></i>
                </div>


              </div>
            </div>
          </div>

          <div class="book-bar-links book-blinking">
            <%= link_to "Try it! Book now!", new_experience_booking_path(@experience.id), class:"btn btn-primary btn-match" %>
          </div>


          <div class="arrow">
            <i class="fas fa-angle-double-down "></i>
          </div>

      </div>
    </div>
    <!-- <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg> -->

  </div>
</div>


<div class="text-center" style="z-index: 1; position: relative; background-color: #fff">
  <div class="container">
    <div class="match-experience-dashboard">
      <div class="main-dashboard">
        <div class="supplier-content">
          <div class="banner-cover">
              <%#= raise %>
               <%= cl_image_tag (@experience.supplier.picture_banner) %>
          </div>
          <div class="supplier">
              <%= cl_image_tag (@experience.supplier.picture_avatar), class: "img-circle"%>
          </div>
          <div class="supplier-content-wrap">
            <h3 class="name"> <%= @experience.supplier.name %> </h3>
            <p class="short-title short-title-ellipsis" style="-webkit-box-orient: vertical;"><%= @experience.address %></p>
            <p class="text-center short-description-ellipsis" style="-webkit-box-orient: vertical;"><%= @experience.short_description %></p>
          </div>
        </div>
      </div>
      <div class="stat-dashboard">
        <div class="stat-content">
          <h4>R$<%= @experience.price.to_i %></h4>
          <p>
              value
          </p>
        </div>
      </div>
       <div class="stat-dashboard">
        <div class="stat-content">
          <h4><%= @experience.vacancy %></h4>
          <p>
              vacancy
          </p>
        </div>
      </div>
       <div class="stat-date-dashboard">
        <div class="stat-content">
          <h4><%= @experience.start.strftime("%m-%d") %></h4>
          <p>
              from
          </p>
          <h4><%= @experience.finish.strftime("%m-%d") %></h4>
          <p>
              until
          </p>
        </div>
      </div>
      <div class="description-dashboard">
        <div class="description-content">
          <h4 class="text-center title-ellipsis" style="-webkit-box-orient: vertical;"><%= @experience.title %></h4>
          <p class="short-description experience-paragraph-ellipsis" style="-webkit-box-orient: vertical";><%= @experience.description %></p>
          <h4 class="text-center heads-up"><%= @experience.short_description %></h4>
          <p class="heads-up-description heads-up-ellipsis" style="-webkit-box-orient: vertical;"><%= @experience.short_title %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class='experience-info'>
  <div class="supplier">
      <%= image_tag ('mergulho_avatar_xdivers.png'), class: "img-circle"%>
      <%#= image_tag experience.photo.url(:card_banner), class: "img-circle"%>
  </div>
  </div> -->

<div class="book-bar-match">
  <div class="book-bar-info">
    <h4>R$<%= @experience.price.to_i %></h4>
  </div>
  <div class="book-bar-links">
    <!-- <a  class="btn btn-primary btn-match" href="#">Book your Experience!!!</a> -->
    <%= link_to "Book your Experience!!!", new_experience_booking_path(@experience.id), class:"btn btn-primary btn-match" %>
  </div>
</div>

<%= javascript_pack_tag "skrollr" %>
