<% content_for(:navbar_class, "navbar-transparent") %>


<div class="background-match">
  <div class="row box-shadow">
      <div class="match-container">
        <h2 class="match-title">This is your trybe!</h2>
        <div class="main-match-container">
            <h3 class="heading">You are not alone in this experience!</h3>
            <p class="tribe">Your experience choice matches with others choice. Here are your trybe members:</p>
            <div class="user">
              <div class="row">
                <div class="row__inner">

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('renato_avatar.jpeg'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('rotating_card_profile3.jpg'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('rotating_card_profile2.jpg'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('avatargirl.png'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('avataroldman.png'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('avatarwoman.png'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                  <div class="tile">
                    <div class="tile__media">
                      <%= image_tag ('avatarboy.png'), class: "tile__img img-circle"%>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <p class="text-center">"We are connecting you with the experience supplier. Stay tuned for more details about the experience."</p>
            <a  class="btn btn-primary btn-sm" href="#">Confirm Experience!</a>
            <br>
            <br>
            <div class="footer-line">
              <i class="fa fa-mail-forward"></i> Leave this Trybe:
              <a  href="#">Keep Searching!</a>
            </div>
        </div>
      </div>
  </div>
</div>

