<% content_for(:navbar_class, "navbar-transparent") %>

<div class="match-page">

  <div class="banner-match", style="background-image: url(<%= cl_image_path('Match_banner.jpg') %>)">
    <div class="match-container">
      <h2 class="match-title">This is your trybe!</h2>
      <div class="main-match-container">
          <h3 class="heading">You are not alone in this experience!</h3>
          <p class="tribe">Your experience choice matches with others choice. Here are your trybe members:</p>
          <div class="user">
            <div class="row">
              <div class="row__inner">

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('renato_avatar.jpeg'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('rotating_card_profile3.jpg'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('rotating_card_profile2.jpg'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('avatargirl.png'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('avataroldman.png'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('avatarwoman.png'), class: "tile__img img-circle"%>
                  </div>
                </div>

                <div class="tile">
                  <div class="tile__media">
                    <%= image_tag ('avatarboy.png'), class: "tile__img img-circle"%>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg> -->
  </div>


  <div class="container text-center padded" id="fixed-transition-top", style="background-image: url(<%= cl_image_path('mergulho_banner_xdivers.jpg') %>)">

  </div>

  <div class='experience-info'>
    <div class="supplier">
        <%= image_tag ('mergulho_avatar_xdivers.png'), class: "img-circle"%>
        <%#= image_tag experience.photo.url(:card_banner), class: "img-circle"%>
    </div>
  </div>


<div class="ending">
    <p class="text-center">"We are connecting you with the experience supplier. Stay tuned for more details about the experience."</p>



</div>

<div class="footer-match">
  <div class="footer-links">
    <a  class="btn btn-primary btn-sm" href="#">Confirm Experience!</a>
  </div>
  <div class="footer-line">
      <i class="fa fa-mail-forward"></i> Leave this Trybe:
      <a  href="#">Keep Searching!</a>
    </div>
</div>
